<div class="GeographicExtentWidget Widget" ng-form="$ctrl.widgetForm">

  <fieldset class="form-group" name="geographicExtentWidget" ng-model="$ctrl.geographicExtent">

    <div class="GeographicExtentWidgetBox WidgetBox">
      <h4><span>{{$ctrl.config.label}}</span></h4>

      <div class="row">
        
        <div class="degbox-container col-xs-4">

          <div class="degbox degbox-n">
            N:
            <input type="number" ng-model="$ctrl.vmExtent.n" name="n" placeholder="90" ng-min="-90" min="-90" ng-max="90" max="90" ng-change="$ctrl.updateExtent()" class="form-control" ng-required="$ctrl.config.required">
          </div>
  
          <div class="degbox-ew">
            <div class="degbox degbox-w">
              W:
              <input type="number" ng-model="$ctrl.vmExtent.w" name="w" placeholder="-180" ng-min="-180" min="-180" ng-max="360" max="360" ng-change="$ctrl.updateExtent()" class="form-control" ng-required="$ctrl.config.required">
            </div>
  
            <div class="degbox degbox-e">
              E:
              <input type="number" ng-model="$ctrl.vmExtent.e" name="e" placeholder="180" ng-min="-180" min="-180" ng-max="360" max="360" ng-change="$ctrl.updateExtent()" class="form-control" ng-required="$ctrl.config.required">
            </div>
          </div>
  
          <div class="degbox degbox-s">
            S:
            <input type="number" ng-model="$ctrl.vmExtent.s" name="s" placeholder="-90" ng-min="-90" min="-90" ng-max="90" max="90" ng-change="$ctrl.updateExtent()" class="form-control" ng-required="$ctrl.config.required">
          </div>

          <div class="degbox degbox-preview">
            <div class="form-inline degbox-fly-choice align-right">
              Fly
              <input type="checkbox" ng-model="$ctrl.fly" name="fly" class="form-control">
            </div>
            <button class="btn btn-primary" ng-click="$ctrl.setBoundingBox($ctrl.vmExtent, 0)">Preview>></button>
          </div>
          
        </div>
        
        <div class="map-container col-xs-8">
          
          <div>
            <div id="bboxmap"></div>
          
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.GLOBAL, 0)">Global</button>-->
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.STOTFOLD, 10)">Stotfold 10</button>-->
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.STOTFOLD, 20)">Stotfold 20</button>-->
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.STOTFOLD, 30)">Stotfold 30</button>-->
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.STOTFOLD, 40)">Stotfold 40</button>-->
            <!--<button ng-click="$ctrl.setBoundingBox($ctrl.STOTFOLD, 50)">Stotfold 50</button>-->
          
          </div>
        </div>
      </div>

      <!-- Widget-level validation messages -->
      <span class="validation-msg" ng-show="$ctrl.widgetForm.n.$error.max || $ctrl.widgetForm.n.$error.min">Northern edge out of range (-90 to 90)</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.e.$error.max || $ctrl.widgetForm.e.$error.min">Eastern edge out of range (-180 to 360)</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.s.$error.max || $ctrl.widgetForm.s.$error.min">Southern edge out of range (-90 to 90)</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.w.$error.max || $ctrl.widgetForm.w.$error.min">Western edge out of range (-180 to 360)</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.n.$error.nSouthOfS">Southern edge must be south of northern edge</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.n.$error.invalidNumber">Northern edge must be a number in decimal degrees</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.e.$error.invalidNumber">Eastern edge must be a number in decimal degrees</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.s.$error.invalidNumber">Southern edge must be a number in decimal degrees</span>
      <span class="validation-msg" ng-show="$ctrl.widgetForm.w.$error.invalidNumber">Western edge must be a number in decimal degrees</span>

    </div>
  </fieldset>
</div>
