.FormBuilder {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
}

.FormBuilder h3 {
    background-color: rgba(148, 19, 51, .20);
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 25px;
    border-radius: 10px;
}


/* This is used for the widgets in the data request form. Roughly, each widget
   is one parameter for the request.

We put each widget inside a rounded coloured box.
*/

.Widget {
    background-color: rgba(148, 19, 51, .20);
    border-radius: 10px;
}


/* This is an inner area inside the widget that contains the real widget contet.
 */

.WidgetBox {
    padding: 0px 25px 25px;
}


/* We use h4 for the widget title */

.WidgetBox h4 {
    margin-bottom: 30px;
}


/* ...and inside the h4 is a span with the actual text, which we wish to
   underline. (This can't go on the h4 because the h4 is a block, so it's as
   wide as the page not the text). */

.WidgetBox h4 span {
    border-bottom: 1px solid #ffffff;
}

div#mainwrapper:not(.btn):not(.alert):not(.well):not(.popover) .WidgetBox input.form-control.ng-invalid {
    border-color: #eb0000;
    background: #ffcccc;
}

.GeographicExtentWidget .degbox input {
    width: 8em;
}

.GeographicExtentWidget .degbox input[type="checkbox"] {
    width: auto;
    height: auto;
}

.GeographicExtentWidget .degbox {
    display: inline-block;
}

.GeographicExtentWidget .degbox-container {
    display: flex;
    flex-direction: column;
    zzzwidth: 28em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.GeographicExtentWidget .degbox-n {
    align-self: center;
}

.GeographicExtentWidget .degbox-ew {
    margin-top: 1em;
    margin-bottom: 1em;
}

.GeographicExtentWidget .degbox-e {
    float: right;
}

.GeographicExtentWidget .degbox-w {
    float: left;
}

.GeographicExtentWidget .degbox-s {
    align-self: center;
}

.GeographicExtentWidget .degbox-fly-choice {
}

.GeographicExtentWidget .degbox-preview {
    align-self: flex-end;
}

.DateRangeWidgetBox {}

.DateRangeWidget {}

.DateRangeWidgetBox h4 {}

.DateRangeWidgetBox h4 span {}

.StringListWidgetBox {}

.StringListWidgetBox h4 {}

.StringListWidgetBox h4 span {}

.StringListWidget {}

.StringListArrayWidgetBox {}

.StringListArrayWidgetBox h4 {}

.StringListArrayWidgetBox h4 span {}

.StringListArrayWidget {}

.GeographicLocationWidgetBox {
    padding: 0px 25px 25px;
}

.GeographicLocationWidgetBox h4 {
    margin-bottom: 30px;
}

.GeographicLocationWidgetBox h4 span {
    border-bottom: 1px solid #ffffff;
}

.GeographicLocationWidget {
    background-color: rgba(148, 19, 51, .20);
    border-radius: 10px;
}

.ParametersBox {
    background-color: rgba(148, 19, 51, .20);
    border-radius: 10px;
    margin: 12px 4%;
    padding: 8px 20px;
}

.ParametersBox ul {
    list-style-type: none;
    padding-left: 0px;
}

.validation-msg {
    color: #31708f;
}

.GeographicExtentWidget .map-container {
    zzzbackground-color: red;
}

#bboxmap {
  width: 600px;
  height: 400px;
}
