
<div class="StringListArrayWidget" ng-form="$ctrl.widgetForm">

<!--
  Put the widget in a fieldset named 'stringListArrayWidget' with an attached ng-model that is
  the output data 'selectedItems'. The fieldset has no actual input, so why bother
  attaching the ng-model ? -> The answer is that only by attaching the ng-model to
  the fieldset does it get attached to the ng-form (widgetForm).
  Thus, using a fieldset with name/ng-model allows us to attach some 'widget-level'
  form validation.
  -->
<fieldset class="form-group" name="stringListArrayWidget" ng-model="$ctrl.selectedItems">

  <legend>{{$ctrl.config.label}}</legend>

  <!-- Widget-level validation messages -->
  <span class="text-danger" ng-show="$ctrl.widgetForm.stringListArrayWidget.$error.oneOrMore">At least one selection must be made</span>

  <div class="form-group" ng-repeat="group in $ctrl.config.details.groups">

    <h5><b><u>{{group.label}}</u></b></h5>

    <div class="row">
      <!--
        Add a checkbox input for each selection.
        Use bootstrap columns of varying widths in order to get the layout to reorganise
        for different screen widths.
      -->
      <label class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="value in group.values">
        <!--
          For each input the function updateSelectedItems() is called to prepare the
          properly formatted output.
        -->
        <input type="checkbox" ng-model="$ctrl.selections[value]" ng-true-value="true" ng-false-value="false" ng-change="$ctrl.updateSelectedItems()">
        {{group.labels[value]}}
      </label>
    </div>

  </div>

</fieldset>

<div ng-show="$ctrl.debug">
<pre>
DEBUG: selections = {{$ctrl.selections}}
DEBUG: selectedItems = {{$ctrl.selectedItems}}
</pre>
</div>

</div>
